/** KEY **/

@keyframes slide-down {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(10rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-10rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blur-in-expand {
  animation: blur-in-expand 0.5s linear both;
}
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(1.2rem);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2rem;
    transform: translateZ(-70rem) translateY(-10rem);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.tracking-in-expand-forward-bottom {
  animation: tracking-in-expand-forward-bottom 0.5s linear both;
}
@keyframes tracking-in-expand-forward-bottom {
  0% {
    letter-spacing: -0.2rem;
    transform: translateZ(-70rem) translateY(10rem);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/*------------------------------*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
/** HEADER **/
.logo {
  transition: all 0.5s linear;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.3s linear;
}

/** NAVBAR **/

@media (max-width: 786px) {
  .navbar__link {
    transition: all 0.5s ease;
    border-radius: 5rem;
    width: 100%;
  }

  .navbar__link:hover {
    background-color: #886750;
  }
  .navbar-list-nosotros a:hover {
    background-color: #b8c9c4;
  }
}

@media (min-width: 768px) {
  .navbar__link {
    position: relative;
    padding: 0;
  }

  .navbar__link::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
  }

  .navbar__link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

.logo {
  animation: fade 0.8s ease-in forwards, slide-left 0.9s ease-in-out;
}

.navbar {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-right 0.9s ease-in-out;
  animation-delay: 0.3s;
}

/** HERO **/

#hero h2 {
  animation: fade 0.8s ease-in forwards, blur-in-expand 0.9s ease-in-out;
}

#hero p {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, blur-in-expand 0.9s ease-in-out;
  animation-delay: 0.3s;
}

/** BOTON **/

.btn--primario {
  transition: all 0.5s ease;
}

.btn--primario:hover,
.btn--secundario:hover {
  background-color: var(--sombreado);
  transition: all 0.5s ease;
}

/** ENTRADAS **/
.blog h3 {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.4s;
}

.sidebar {
  opacity: 0;
  animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 0.2s;
}

.entrada {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-left 0.9s ease-in-out;
  animation-delay: 0.3s;
}

.entrada:nth-child(2) {
  animation-delay: 0.5s;
}
.entrada:nth-child(3) {
  animation-delay: 0.7s;
}

.entrada img {
  transition: all 0.3s linear;
}

.entrada img:hover {
  transform: scale(1.04);
  transition: all 0.3s linear;
}

.footer__texto {
  animation: fade 0.8s ease-in forwards, slide-right 0.9s ease-in-out;
}

/** --------PAGINA NOSOTROS -------**/

#hero-nosotros h2,
#hero-cursos h2 {
  animation: fade 0.8s ease-in forwards, blur-in-expand 0.9s ease-in-out;
}

#hero-nosotros p,
#hero-cursos p {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, blur-in-expand 0.9s ease-in-out;
  animation-delay: 0.3s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.sobre-nosotros img {
  opacity: 0;
  animation: fade 0.7s ease-in forwards, scale-up-center 0.9s ease-in-out;
}

.text-nosotros {
  animation: fade 1.2s ease-in forwards, slide-right 1s ease-in-out;
}

@keyframes scale-up-vertical-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: center top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: center top;
  }
}

#info-nosotros h3 {
  animation: fade 0.8s ease-in forwards, scale-up-vertical-top 0.9s ease-in-out;
}

/**----- PAGINA CURSOS ----**/

#card-cursos h3 {
  opacity: 0;
  animation: fade 0.7s ease-in forwards, scale-up-center 0.9s ease-in-out;
}

.curso {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-left 0.9s ease-in-out;
  animation-delay: 0.3s;
}

.curso:nth-child(2) {
  animation-delay: 0.5s;
}
.curso:nth-child(3) {
  animation-delay: 0.7s;
}
.curso:last-of-type {
  animation-delay: 0.9s;
}

.curso {
  transition: all 0.3s linear;
}

.curso:hover {
  transform: scale(1.03);
  transition: all 0.3s linear;
}
