/** KEY **/

@keyframes slide-down {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(10rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-10rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
/** HEADER **/
.logo {
  transition: all 0.5s linear;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.3s linear;
}

/** NAVBAR **/

@media (max-width: 786px) {
  .navbar__link {
    transition: all 0.5s ease;
    border-radius: 5rem;
    width: 100%;
  }

  .navbar__link:hover {
    background-color: #886750;
  }
}

@media (min-width: 768px) {
  .navbar__link {
    position: relative;
    padding: 0;
  }

  .navbar__link::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
  }

  .navbar__link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}
