/** NAVEGACION **/

@media (max-width: 768px) {
  .navbar__list {
    position: absolute;
    top: 6.5rem;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: #3f2b1c;
    border: 2px solid #e0850c;
    border-top: 0;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 4.5rem 3rem;
    gap: 2.5rem;
    z-index: 2;
    display: none;
  }

  .navbar-list-nosotros {
    background: #98aeb6;
    border: 2px solid #e0850c;
    border-top: 0;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 4.5rem 3rem;
    gap: 2.5rem;
  }

  .menu {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  #navbar__toggle:checked + .navbar__list {
    display: flex;
  }
}

@media (min-width: 768px) {
  .navbar {
    gap: 1rem;
  }
  .navbar__link {
    font-size: 1.8rem;
  }

  /** CONTENIDO PRINCIPAL **/
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
  /** BOTON **/
  .btn {
    display: inline-block;
  }
  .footer {
    height: 10rem;
  }
  .footer__logo img {
    padding-bottom: 2rem;
  }
}

@media (min-width: 465px) {
  .footer {
    height: 10rem;
  }
}

/**-------------- PAGINA NOSOTROS------------**/

@media (min-width: 768px) {
  .sobre-nosotros {
    display: flex;
    justify-content: space-between;
  }
  .sobre-nosotros__img,
  .text-nosotros {
    flex-basis: calc(50% - 1rem);
  }
}

/**--------- PAGINA CURSOS ----------**/

@media (min-width: 768px) {
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
