/** GRID **/

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** GRAFICO **/

@media (min-width: 768px) {
  .grafico--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/** NOSOTROS  **/

@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media (min-width: 768px) {
  .nosotros__imagen {
    grid-column: 2 / 3;
  }
}

/** BLOQUES **/

@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
}

/** PRODUCTOS **/

@media (min-width: 768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
